# secrets file
.env

# rubocop creates this
.cache

.*_history

vendor
.bundle

# Convoluted gitkeep setting to keep the data directory
# structure intact without tracking its contents.
data/*
!data/.keep

# Build/test artifacts
artifacts/*
