# Convoluted gitkeep setting to keep the data directory
# structure intact without tracking its contents.

vendor
.bundle

data/*
!data/.keep

# Build/test artifacts
artifacts/*
!/artifacts/.keep
!artifacts/rspec
!artifacts/rubocop
artifacts/rubocop/*
!/artifacts/rubocop/.keep

secrets/*
!secrets/.keep
