# Convoluted gitkeep setting to keep the data directory
# structure intact without tracking its contents.

vendor
.bundle

data/*
!data/.keep

# Build/test artifacts
artifacts/*

secrets/*
!secrets/.keep
